.taskCard {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;

  background: none;
  cursor: pointer;
  text-decoration: none;

  padding: 0 10px;

  border: 1px solid #ababab;
  border-radius: 8px;

  transition: 0.3s;

  p {
    color: #000
  }

  &__title {
    text-decoration: underline;
  }

  &:hover {
    box-shadow: 0 0 6px 1px rgba(34, 60, 80, 0.2);
  }
}