.taskPage {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.titleWithText {
  display: flex;
  flex-direction: column;

  h3 {
    line-height: 0;
  }

  p {
    line-height: 0;
  }
}

.inputField {
  width: fit-content;
}

.description {
  resize: none;
  max-width: 250px;
}

.save {
  width: 100px;
}